* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  /* Melhorar o serrilhado de texto no zoom*/
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: #0080ed;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  height: 80px;
  margin: auto;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  /*background-color: rgba(255, 255, 255, 0.15);*/
  background: rgba(255, 255, 255, 0.15);
}

header .container img {
  height: 30px;
}

main {
  margin-bottom: 100px;
}

main .container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  margin: 100px auto 0px auto;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 38px;
  line-height: 50px;
  font-weight: bold;
}

h3 {
  color: rgb(131, 131, 131);
  font-size: 20px;
  line-height: 28px;
  margin: 10px 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 380px;
  padding-left: 15px;
  font-size: 18;
  height: 45px;
  margin-bottom: 13px;
  border-radius: 20px;
  border: 2px solid #0080ed;
}

form [type="submit"] {
  background-color: #0080ed;
  color: white;
}

form [type="submit"] {
  cursor: pointer;
}

main .container img {
  width: 600px;
}

.cards {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text-medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  color: rgb(187, 185, 185);
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 15px -4px #000000;
  transition: all 0.5s ease 0s;
  border-radius: 30px;
}

.card:hover {
  transform: translate3d(5px, 1%, 0);
  /* transform: translateY(-7px);*/
}

.image {
  width: 100%;
  padding-top: 56%;
  overflow: hidden;
  position: relative;
  border-radius: 30px 30px 20px 20px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 0px;
  text-align: justify;
}

.info {
  text-align: right;
}

.desafio {
  opacity: 0; /*desabilitar visibilidade*/
  width: 400px;
  height: 400px;
  font-size: 100;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  align-items: center;
  margin: 100px auto;
  max-width: 980px;
  
}
