* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  /* Melhorar o serrilhado de texto no zoom*/
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

section {
  max-width: 800px;
  margin: auto;
  transform: translateY(-10px);
}

/*button*/

#back-button {
  font-size: 18px;
  width: 100px;
  width: 150px;
  height: 30px;
  background-color: white;
  color: #0080ed;
  border-color: #0080ed;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 20px 0;
}

#back-button:hover {
  background-color: #0080ed;
  color: white;
  transform: translateY(2px);
}

/*img*/

img {
  display: block;
  margin: 40px auto 0 auto;
  
}

div.img-header {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
  /*background-image: url("../../images/robo_unsplash_3aaf280873.webp");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: #0080ed;
}

div.img-header:hover {
  height: 150px;
  transition: 0.6s ease;
}

#header-img {
    width: 100%;
  margin: 0 0;
  box-shadow: 5px 5px 15px -4px black;
  transition: all 0.6s ease 0s;
}

/*img#header-img:hover ~ div.img-header {
  height: 200px;
}*/

/*video*/

div.content-video {
  display: block;
  width: fit-content;
  height: 100%;
  margin: 40px auto 0 auto;
}

/*texto*/

p.publication {
  font-size: 14px;
  margin: 10px 0 0 0;
  color: lightgray;
  border-radius: 50px 50px 0 0;
}

div.publication:hover ~ #div-img-header {
  display: none;
}

h1 {
  margin: 10px 0 25px 0;
  font-size: 30px;
}

h3 {
  margin: 15px 0 15px 0;
}

p {
  margin-top: 30px;
}

/*media queries*/

@media (max-width: 1000px) {
  section {
    padding: 0 20px;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  img {
    min-height: 300px;
  }
}
